Repository Huseyin-Cicek/ai4ohs-hybrid: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, check-md-links

lint:
  name: Ruff Lint (Repo Shortcut)
  entry: ruff check
  language: system

check-md-links:
  name: Markdown Link Checker
  entry: python scripts/tools/check_md_links.py
  language: system

feat(create-turbo): apply pnpm-eslint transform
  ai4ohs-hybrid-monorepo/.vscode/settings.json
Due: none

feat(create-turbo): install dependencies
  ai4ohs-hybrid-monorepo/pnpm-lock.yaml
Due: none

initial commit
  .gitignore
  ai4ohs-hybrid-monorepo/.gitignore
  ai4ohs-hybrid-monorepo/.vscode/settings.json
  ai4ohs-hybrid-monorepo/README.md
  ai4ohs-hybrid-monorepo/apps/web/package.json
  ai4ohs-hybrid-monorepo/apps/web/tsconfig.json
  ai4ohs-hybrid-monorepo/package.json
  ai4ohs-hybrid-monorepo/pnpm-lock.yaml
  ai4ohs-hybrid-monorepo/pnpm-workspace.yaml
  ai4ohs-hybrid-monorepo/turbo.json
Due: check-md-links

initial commit
  .gitignore
Due: none

final local commit
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

final local commit
  del-without-extensions.performans.txt
  del-without-requirements.performans.txt
  extensions.performance.txt
  extensions.txt
  install-extensions.performans.txt
  installed-library.txt
  read-first.txt
  requirements.performans.txt
Due: none

final local commit
  AI4OHS_HYBRID_Structure_Checklist.yaml
Due: none

Sync local main with remote (force)
  h origin main --force
  scripts/__init__.py
  scripts/cli.py
  scripts/dev/ml_worker.py
  scripts/ops_dispatcher.py
  src/__pycache__/__init__.cpython-311.pyc
  src/agentic/guarded_inference.py
  src/genai/rag/document_loader.py
  src/genai/rag/ocr_ingest.py
  src/governance/cag_rules_engine.py
  src/ohs/api/routers/guardrails.py
  src/pipelines/00_ingest/run.py
  src/pipelines/03_rag/run.py
  src/utils/__init__.py
  src/utils/__pycache__/__init__.cpython-311.pyc
  src/utils/__pycache__/stamps.cpython-311.pyc
  src/utils/path_sanitize.py
Due: lint

Path conditions:
  lint: any of: \.py$
  check-md-links: any of: \.md$
